@page
@model IndexModel
@{
    ViewData["Title"] = "Autenticación";
}
<div class="text-center">
<h1 class="autenticacion">AUTENTICACION</h1>
  <form asp-page-handler="guardallave" method="post" enctype="multipart/form-data">
   <label asp-for="SubirArchivo.Archivo">PFX:</label><br>
   <input asp-for="SubirArchivo.Archivo"><br><br>
   <label asp-for="SubirArchivo.Contrasena">Password:</label>
   <input asp-for="SubirArchivo.Contrasena"><br><br>
  <input type="submit" id="enviar" OnClick="Button1_Click" value="Enviar">
  </form> 


</div>  