@page
@model IndexModel
@{
    ViewData["Title"] = "Autenticación";
}

<div class="text-center">
<h1 class="autenticacion">AUTENTICACION</h1>
  <form asp-page-handler="guardallave" method="post">
  <label for="fname">PFX:</label><br>
  <input id="the-file" type="file" name="name"><br><br>
  <label for="lname">Password:</label><input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" id="enviar" OnClick="Button1_Click" value="Enviar">
  </form> 
</div>