@page
@{
    ViewData["Title"] = "menu";
}

<h1>
    Menu principal
</h1>

<ul class="nav">
   
    <li class="nav-item">
        <a class="nav-link" href="/Index">Autenticate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/solicitud">Solicitud</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/verificacion">Monitor de Paquetes</a>
    </li>

</ul>