@page
@{
    ViewData["Title"] = "menu";
}

<h1>
    Menu principal
</h1>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/Index">Solicitud</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/verificacion">Monitor de Paquetes</a>
    </li>
</ul>