@page
@model CFDIWEB.Pages.Index1Model
@{
    ViewData["Title"] = "Solicitud";
}

<div class="text-center">
    <h1 class="autenticacion">SOLICITUD</h1>

   <form name="formulario" method="post" action="">
  <!-- Campo de entrada de fecha -->
  Selecciona la fecha deseada:
  <input type="date" name="fecha"  step="2"/>
  <!-- Campo de entrada de hora -->
  </form>
 
