@page
@model CFDIWEB.Pages.SolicitudModel
@{
    ViewData["Title"] = "Solicitud";
}

<div class="text-center">
    <h1 class="autenticacion">SOLICITUD</h1>
</div>


<div class="container">
    <form name="fechas" method="post" action="">
        <div class="row">
            <div class="col col-sm-5">
                <label for="uuid2" class="form-label">Folio Fiscal:*</label>
                <input name="uuid2" class="form-control">
            </div>
        </div>
  
        <div class="row">
            <div class="col col-sm-3"
                <label for="fecha" class="form-label">Selecciona la fecha Inicial deseada:</label>
                <input type="date" name="fecha"  class="form-control" />
            </div>
            <div class="col col-sm-3"
                <label for="fechafin" class="form-label">Selecciona la fecha Final deseada:</label>
                <input type="date" name="fechafin"  class="form-control" />
            </div>
        </div>

        <!-- Campo de entrada de hora -->
    
        <label name="RFCE">RFC EMISOR:</label>
        <input name="rfce">
        <label name="RFCR">RFC RECPETOR:</label>
        <input name="rfcr">
        <label name="RFCS">RFC SOLICITANTE:</label>
        <input name="rfcs">


        <label name="tiposolicitud">Tipo Solicitud:</label>
        <label>
            <input type="radio" name="meta"> METADATA
        </label>
        <label>
            <input type="radio" name="cfdi"> CFDI
        </label>
        <br>
        <br>
        <label name="tipocomprobante" for="editors">Tipo Comprobante:</label>
        <select name="editor" id="editor">
        <option value="Null"> Ninguno</option>
        <option value="I"> Ingreso</option>
        <option value="E"> Egreso</option>
        <option value="T"> Translado</option>
        </select>
 
        <label name="estadocom" for="editors">Estado Comprobante:</label>
        <select name="editor1" id="editor1" class="form-select">
            <option value="Null"> Ninguno</option>
            <option value="0"> Cancelado</option>
            <option value="1"> Vigente</option>
        </select>
         <input type="submit" class="btn btn-primary"></input>
    </form>
</div>

 


