@page
@model CFDIWEB.Pages.SolicitudModel
@{
    ViewData["Title"] = "Solicitud";
}

<div class="text-center">
    <h1 class="autenticacion">SOLICITUD</h1>
</div>

<div class="container">
    <form asp-page-handler="Solicitudformulario" method="post" class="row g-3 needs-validation" novalidate>
        <div class="row">
            <div class="col col-sm-5">
                <label asp-for="SolicitudForm.UUID" class="form-label">Folio Fiscal:*</label>
                <input asp-for="SolicitudForm.UUID" class="form-control">
            </div>
        </div>
  
        <div class="row">
            <div class="col col-sm-3">
                <label asp-for="SolicitudForm.FechaInicial"  class="form-label">*Selecciona la fecha Inicial deseada:</label>
                <input asp-for="SolicitudForm.FechaInicial" type="date" class="form-control" required />
                <div class="invalid-feedback">
                    Introduce la Fecha de Inico
                </div>
            </div>  
            <div class="col col-sm-3">
                <label asp-for="SolicitudForm.FechaFin"  class="form-label">*Selecciona la fecha Final deseada:</label>
                <input asp-for="SolicitudForm.FechaFin" type="date" class="form-control" required />
                <div class="invalid-feedback">
                    Introduce la Fecha Final
                </div>

            </div>
        </div>
    
        <div class="row">
            <div class="col col-sm-4">
                <label asp-for="SolicitudForm.rfcEmisor"  class="form-label">*Rfc Emisor:</label>
                <input asp-for="SolicitudForm.rfcEmisor"  class="form-control" />
            </div>
            <div class="col col-sm-4">
                <label asp-for="SolicitudForm.rfcReceptores"  class="form-label">*Rfc Receptor:</label>
                <input asp-for="SolicitudForm.rfcReceptores" class="form-control" required />
                <div class="invalid-feedback">
                   Introduce el RFC 
                </div>
            </div>
            <div class="col col-sm-4">
                <label asp-for="SolicitudForm.rfcSolicitante"  class="form-label">*Rfc Solicitante:</label>
                <input asp-for="SolicitudForm.rfcSolicitante" class="form-control" required />
                <div class="invalid-feedback">
                    Introduce el RFC
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col col-sm-6">
                <label asp-for="SolicitudForm.TipoSolicitud" class="form-label">Tipo Solicitud:</label>
                <div class="form-check">
                    <input asp-for="SolicitudForm.TipoSolicitud" class="form-check-input" type="radio" value=1 >
                    <label asp-for="SolicitudForm.TipoSolicitud" class="form-check-label"> Metadata </label>
                </div>
                 <div class="form-check">
                    <input asp-for="SolicitudForm.TipoSolicitud" class="form-check-input" type="radio"  value=0 checked>
                    <label asp-for="SolicitudForm.TipoSolicitud" class="form-check-label">Cfdi </label>
                 </div>
                
            </div>
        </div>
       
            
        <div class="row">
            <div class="col col-sm-5">
                <label asp-for="SolicitudForm.TipoComprobante">Tipo Comprobante:</label>
                <select asp-for="SolicitudForm.TipoComprobante"  class="form-select">
                    <option value="Null">Ninguno</option>
                    <option value="I">Ingreso</option>
                    <option value="E">Egreso</option>
                    <option value="T">Translado</option>
                    <option value="N">Nomina</option>
                    <option value="P">Pago</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-5">
                <label asp-for="SolicitudForm.EstadoComprobante" >Estado Complemento:</label>
                <select asp-for="SolicitudForm.EstadoComprobante" class="form-select">
                    <option value="Null">Ninguno</option>
                    <option value=0>Vigente</option>
                    <option value=1>Cancelada</option>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-sm-5">
                <label asp-for="SolicitudForm.Complemento">Complemento:</label>
                <select asp-for="SolicitudForm.Complemento" class="form-select" asp-items="Model.Complementos">
                    <option value="Null">Selecciona una opcion</option>
                </select>
            </div>
        </div>

            <input type="submit" class="btn btn-primary col col-sm-4"> </input>
    </form>
</div>

 
@section scripts{

<script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
</script>

}

