@page
@model CFDIWEB.Pages.usuariosModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="login">Inicio de Sesion</h1>
</div>

<div class="container">
    <form asp-page-handler="Login" method="post" name="">
        <div class="row">
            <div class="col col-sm-12">
                <label asp-for="Usuario" class="form-label">Usuario:*</label>
                <input asp-for="Usuario" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-12">
                <label asp-for="Contrasena" class="form-label">Contrasena:*</label>
                <input asp-for="Contrasena" class="form-control">
            </div>
        </div>

        <input type="submit" class="btn btn-primary" onclientclick="alert('Usuario valido')">Entrar</input>
    </form>
</div>
